.header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
}

.nav-items > ul >li {
  padding: 10px;
}

/* card */

.card{
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px
}

.card > img {
  width: 100%;
}

/* resturant - list */

.restranunt-list{
  display: flex;
  flex-wrap: wrap;
}

